.container{
	max-width: 1260px;
	width: 80%;
	margin:auto;
}
.cover{
	width: 100%;
	height: 220px;
	background-image: url(img/cover.jpg);
}
.recover{
	background-color: rgba(18, 17, 17,0.6);
	width: 100%;
	height: 100%;
}
.cover-text{
	padding-top: 50px;
	font-weight: bold;
	color: #fff;
}
.cover-text h1{
	font-size: 40px;
	margin-left: 15px;
}
.cover-text p{
	margin-top: 20px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 15px;
	margin-right: 15px;
}
.span-wrap{
	display: inline-block;
	width: 2px;
	height: 20px;
	background-color: #fff;
	vertical-align: bottom;
}
.map{
	width: 100%;
	height: 230px;
	margin-top: 50px;
}
iframe{
	width: 100%;
	height: 100%;
}
.validation{
	margin-top: 50px;
}
.form-title h2{
	font-weight: bold;
	font-size: 40px;
	margin-top: 10px;
}
.form-title p{
	font-size: 20px;
}
.form-box{
	margin-top: 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.for-text{
	width: 63%;
	height: 230px;
}
.for-text textarea{
	background-color: rgb(247, 247, 247);
	width: 100%;
	height: 100%;
	resize: none;
	border-style: solid;
	border-color: rgb(232, 232, 237);
}
.for-text textarea:focus {
	outline: none;
	border-style: solid;
    border-color: rgb(66, 135, 245);
}
.for-input{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 32%;

}
.input-elements{
	width: 100%;
	height: 20%;
	border-style: solid;
	border-color: rgb(232, 232, 237);
	background-color: rgb(247, 247, 247);	
}
.input-elements:hover{
	box-shadow: 0px 3px 9px #e2e2e2;
}
.input-elements:focus{
	outline: none;
	border-style: solid;
	border-color: rgb(66, 135, 245);
}

 button{
	width: 100%;
	height: 20%;
	background-color: rgb(247, 247, 247);
	box-shadow: 0px 3px 9px #e2e2e2;
	border-style: none;
	background-color: rgb(66, 135, 245);
	cursor: pointer;
}
button p{
	color: #fff;
	font-weight: bold;
}
.contacts{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 40px auto;
}
.components{
	width: 28%;
	/*background-color: red;*/
	margin: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.components img{
	width: 50px;
	height: 50px;
}
.components h1{
	font-weight: bold;
	margin-top: 5px;
}
.components a{
	font-size: 15px;
	margin-top: 10px;
	color: gray;
}







@media(max-width: 900px){
	.for-text{
	width: 100%;
	height: 200px;
}
    .for-input{
    	margin-top: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 200px;
}
.components{
	width: 100%;
	margin: 20px;
}
   button{
   	width: 50%;
   	Transform: translate(-50%);
   	margin: 0 50% 0 50%;
   }
}